@sidebar-width: 230px;
@mobile-menu-height: 75px;

#app-sidebar {
  hr {
    border-color: #900d09;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .sidebar-wrapper {
    ul {
      li {
        padding: 5px 0px;
      }
    }

    h5 small {
      color: #eee;
    }

    a {
      color: #eee;
      display: inline-block;
    }

    a:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}

@media (min-width: @screen-sm-min) {
  #app-content {
    margin-left: @sidebar-width;
  }

  #app-sidebar {
    width: @sidebar-width;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    color: #eee;
    z-index: 9999;

    .sidebar-wrapper {
      padding: 15px;

      .navbar-nav {
        float: inherit;

        li {
          float: inherit;

          a {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }

      .person-data {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0px 15px;

        li.notifications {
          padding: 0px 0px 20px 0px;
        }
      }
    }

    .collapse {
      display: block;
    }
  }
}

@media (max-width: @screen-xs-max) {
  #app-sidebar {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    color: #eee;
    height: @mobile-menu-height;
    z-index: 9999;

    #udb-navbar-collapse {
      margin-top: -19px;
      background: #c0120c;
      padding: 15px;
      width: 100%;
    }

    .navbar-header {
      padding: 15px;
    }

    .navbar-toggle {
      margin-top: 8px;
    }

    li.notifications {
      display: none;
    }
  }

  #app-content {
    margin-top: @mobile-menu-height;
  }
}

@media (max-width: @screen-xs-max) {
  .udb-job-log.shown {
    right: 0px;
    left: inherit;
    top: inherit;
    transition: under 0.3s ease;
  }

  .udb-job-log-overlay {
    left: 0px;
  }
}

@media (min-width: @screen-sm-min) {
  .udb-job-log.shown {
    left: @sidebar-width;
  }

  .udb-job-log-overlay {
    left: @sidebar-width;
  }
}