@sidebar-width: 230px;
@sidebar-mobile-width: 75px;
@mobile-menu-height: 75px;

#app-sidebar {
  hr {
    border-color: #900d09;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .sidebar-wrapper {
    ul {
      li {
        padding: 5px 0px;
      }
    }

    h5 small {
      color: #eee;
    }

    a {
      color: #eee;
      display: inline-block;
    }

    a:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}

#app-content {
  margin-left: @sidebar-mobile-width;
}

#app-sidebar {
  width: @sidebar-mobile-width;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  color: #eee;
  z-index: 1039;

  .sidebar-wrapper {
    padding: 10px;
  }
}

@media (min-width: @screen-sm-min) {
  #app-content {
    margin-left: @sidebar-width;
  }

  #app-sidebar {
    width: @sidebar-width;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    color: #eee;
    z-index: 1039;

    .sidebar-wrapper {
      padding: 15px;

      .navbar-nav {
        float: inherit;

        li {
          float: inherit;

          a {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }

      .person-data {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0px 15px;

        li.notifications {
          padding: 0px 0px 20px 0px;
        }
      }
    }

    .collapse {
      display: block;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .menu-text {
    display: none;
  }

  .fa {
    font-size: 22px;
  }

  .udb-job-log.shown {
    left: @sidebar-mobile-width;
  }

  .udb-job-log-overlay {
    left: @sidebar-mobile-width;
  }
}

@media (min-width: @screen-sm-min) {
  .udb-job-log.shown {
    left: @sidebar-width;
  }

  .udb-job-log-overlay {
    left: @sidebar-width;
  }
}