{
  "baseUrl": "http://culudb-silex.dev:8080/",
  "baseApiUrl": "http://culudb-silex.dev:8080/api/1.0/",
  "apiKey": "***",
  "baseSearchUrl": "http://udb-search.dev/",
  "authUrl" : "http://udb-jwtprovider.dev/culturefeed/oauth/",
  "uitpasUrl" : "http://udb-uitpas.dev/",
  "uitpasMaxDelay": 8,
  "socketUrl": "http://culudb-websocket-server.dev:3000/",
  "cultuurkuurUrl": "http://dev.cultuurkuur.be/",
  "media": {
    // This limit is passed directly to ngf-max-size attribute of ng-file-upload
    // e.g.: "10KB" or "10MB" or "10GB"
    "fileSizeLimit": "5MB",
    "userAgreementUrl": "http://localhost:9999/user-agreement",
    "copyrightUrl": "http://localhost:9999/copyright"
  },
  "gaTagManager": {
    "containerId": "",
    "googleSiteVerification": ""
  },
  "calendarHighlight": {
    "date": "",
    "startTime": "",
    "endTime": "",
    "extraClass": ""
  },
  "addOffer": {
    "toggleAddOffer": true,
    // This message can be used when the toggleAddOffer is false.
    "replaceMessage": "De inschrijvingsperiode is afgesloten sinds 21 juli.<br>Heb je nog vragen in verband met je inschrijving?<br>Stel ze gerust! Contacteer info@monumentendag.be",
    "embargoDate": "2017-07-21 23:59:59"
  },
  "disableVariations": true,
  "toggleHidePriceInfo": true,
  "zendesk": {
    "accountUrl": ""
  },
  "offerEditor": {
    "disableAudience": false,
    "ignoreDuplicates": true,
    "defaultPublicationDate": ""
  },
  "newsLetterManager": {
    "url": "http://localhost/mail-microservice/web",
    "list": "1766017"
  }
}
