{
  "baseUrl": "http://culudb-silex.dev:8080/",
  "baseApiUrl": "http://culudb-silex.dev:8080/api/1.0/",
  "apiKey": "***",
  "baseSearchUrl": "http://udb-search.dev/",
  "authUrl" : "http://udb-jwtprovider.dev/culturefeed/oauth/",
  "uitpasUrl" : "http://udb-uitpas.dev/",
  "uitpasMaxDelay": 8,
  "socketUrl": "http://culudb-websocket-server.dev:3000/",
  "cultuurkuurUrl": "http://dev.cultuurkuur.be/",
  "media": {
    // This limit is passed directly to ngf-max-size attribute of ng-file-upload
    // e.g.: "10KB" or "10MB" or "10GB"
    "fileSizeLimit": "5MB",
    "userAgreementUrl": "http://localhost:9999/user-agreement",
    "copyrightUrl": "http://localhost:9999/copyright"
  },
  "gaTagManager": {
    "containerId": "",
    "googleSiteVerification": ""
  },
  "calendarHighlight": {
    "date": "",
    "startTime": "",
    "endTime": "",
    "extraClass": ""
  },
  "addOffer": {
    "toggle": true,
    "expirationDate": "2018-07-21 23:59:59",
    // This message can be used when the toggle of addOffer is false or the expirationDate has expired.
    "expirationMessage": ""
  },
  "disableVariations": true,
  "zendesk": {
    "accountUrl": ""
  },
  "offerEditor": {
    "disableAudience": false,
    "ignoreDuplicates": true,
    "disablePriceInfo": false,
    // The defaultPublicationDate option accords to the availableFrom in the json-ld.
    "defaultPublicationDate": "",
    "defaultOrganizerLabel": "",
    "countries": [
      {"code": "BE", "default": true},
      {"code": "NL", "default": false}
    ]
  },
  "newsLetterManager": {
    "url": "http://localhost/mail-microservice/web",
    "list": "1766017"
  },
  "publicationRulesLink": "",
  "exportLogoUrl": "https://udb3-export-logo.s3.amazonaws.com/",
  "exportBrands": [
      {"name": "vlieg", "label": "Vlieg", "logo": "vlieg.svg"},
      {"name": "uit", "label": "UiT", "logo": "uit.svg"},
      {"name": "uitpas", "label": "UiTPAS", "logo": "uitpas.svg"},
      {"name": "paspartoe", "label": "Paspartoe", "logo": "paspartoe.svg"}
  ],
  "restrictedExportBrands": [],
  "publicationUrl": {
    "event": "https://www.uitinvlaanderen.be/agenda/e//",
    "place": "https://www.uitinvlaanderen.be/agenda/p//"
  }
}
