<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="udbApp" ng-controller="AppCtrl" ng-class="{'push-left': showJobLog}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header" ng-controller="HeaderCtrl">
        <ul class="nav nav-pills pull-right">
            <li><a ng-href="/">Home</a></li>
            <li ng-show="user"><a ng-href="/search">Zoeken</a></li>
            <li ng-hide="user"><a ng-click="login()" ng-href="#">Aanmelden</a></li>
            <li ng-show="user" class="disabled"><a ng-bind="user.nick"></a></li>
            <li ng-show="user"><a ng-click="logout()" ng-href="#">Afmelden</a></li>
            <li class="dropdown"></li>
        </ul>
        <h3 class="text-muted">
            <span class="udb-work-indicator" ng-click="toggleJobLog()"></span>
            UiTdatabank
        </h3>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p>CultuurNet Vlaanderen</p>
      </div>
    </div>

    <div class="udb-job-log" ng-class="{'shown': showJobLog}">
        <div class="row">
            <div class="col-sm-12">
                <p class="lead">Taken</p>
                <p ng-hide="hasJobs()">Er zijn geen nieuwe taken.</p>
            </div>

            <div ng-repeat="job in jobs" class="col-sm-12 repeat-animation" ng-switch="job.type">
                <div ng-switch-when="batch">
                {{::job.description}} - {{ job.state }} - <b>{{job.taggedCount}} / {{::job.eventCount}}</b>
                <progressbar value="job.progress" type="{{giveJobBarType(job)}}">
                    <i ng-show="job.warning" ng-bind="job.warning"></i>
                </progressbar>
                </div>
                <div ng-switch-when="single">
                    {{::job.description}} - {{ job.state }}
                    <progressbar value="job.progress" type="{{giveJobBarType(job)}}">
                    </progressbar>
                </div>
            </div>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/udbapi.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/filters/slice.js"></script>
        <script src="scripts/directives/udbdebounce.js"></script>
        <script src="scripts/services/lucenequerybuilder.js"></script>
        <script src="scripts/services/querytreevalidator.js"></script>
        <script src="scripts/services/querytreetranslator.js"></script>
        <script src="scripts/services/queryfieldtranslations.js"></script>
        <script src="scripts/services/queryfields.js"></script>
        <script src="scripts/parsers/lucenequeryparser.js"></script>
        <script src="scripts/services/udbhttpinterceptor.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/services/uitidauth.js"></script>
        <script src="scripts/directives/udbevent.js"></script>
        <script src="scripts/services/searchresultviewer.js"></script>
        <script src="scripts/services/udbsocket.js"></script>
        <script src="scripts/services/joblogger.js"></script>
        <script src="scripts/directives/udbworkindicator.js"></script>
        <script src="scripts/directives/udbjoblog.js"></script>
        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/controllers/eventtagmodal.js"></script>
        <script src="scripts/services/eventtagger.js"></script>
        <script src="scripts/filters/jsonldlang.js"></script>
        <script src="scripts/services/eventtranslator.js"></script>
        <script src="scripts/services/event.js"></script>
        <!-- endbuild -->
</body>
</html>
