<div class="row">
  <div class="col-xs-12">
     <p class="feedback-prefooter">Vragen of feedback? <a href="#" ng-click="footer.activateZendeskWidget()" class="feedback-link">Contacteer ons</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <ul class="footer-links">
      <li><a href="http://www.cultuurnet.be/nl/project/uitdatabank" class="footer-link" target="_blank">Over UiTdatabank</a></li>
      <li><a href="http://documentatie.uitdatabank.be" class="footer-link" target="_blank">Voor ontwikkelaars</a></li>
      <li><a href="http://www.cultuurnet.be/nl/gebruikersovereenkomst-uitdatabank" class="footer-link" target="_blank">Gebruiksvoorwaarden</a> | <a href="http://www.cultuurnet.be/nl/privacy-uitdatabank" class="footer-link" target="_blank">Privacy</a></li>
    </ul>
  </div>

  <div class="col-sm-6">
    <p class="footer-by">Een product van <a href="http://www.cultuurnet.be" class="footer-link">CultuurNet&nbsp;Vlaanderen</a>
      <br/> met steun van de
      <span class="logo-flanders">Vlaamse&nbsp;overheid</span>
    </p>
  </div>
</div>
