<div class="container-fluid">
    <div class="footer">
        <div class="row">
            <div class="col-sm-3">
                <img class="pull-left" src="images/cultuurnet-logo.png" alt="logo CultuurNet"/>
            </div>
            <div class="col-sm-6">
                <p class="contact-info">Heb je vragen of feedback? <a href="mailto:vragen@uitdatabank.be">vragen@uitdatabank.be</a> 02 551 07 30</p>
            </div>
            <div class="col-sm-3">
                <img class="pull-right" src="images/vlaanderen-logo.png" alt="logo Vlaanderen"/>
            </div>
        </div>
    </div>
</div>