<div class="container-fluid">
    <div class="footer">
        <div class="row">
            <div class="col-sm-3">
                <img class="pull-left" src="images/cultuurnet-logo.png" alt="logo CultuurNet"/>
            </div>
            <div class="col-sm-6">
                <p class="contact-info">Heb je <a ng-click="footer.activateZendeskWidget()" class="feedback" href="#">vragen of feedback</a>? </p>
            </div>
            <div class="col-sm-3">
                <img class="pull-right" src="images/vlaanderen-logo.png" alt="logo Vlaanderen"/>
            </div>
        </div>
    </div>
</div>