<div class="hero">
  <div class="container">
    <udb-homepage-splash></udb-homepage-splash>
    <h1 class="brand">UiTdatabank</h1>
    <p class="lead">
      <span translate="main.lead"></span> <br/>
      <span class="muted" translate="main.lead_sub"></span>
    </p>
  </div>
</div>

<div class="start">
  <div class="container-fluid">
    <p class="text-center"><a ng-hide="user" class="btn btn-lg btn-primary" ng-href="#" ng-click="login()" translate="main.start"></a>
    </p>
    <p class="text-center"><a ng-show="user" class="btn btn-lg btn-danger" ui-sref="split.footer.search">
      Zoeken</a>
    </p>
    <p ng-hide="hideRegister" class="text-muted text-center">
      <span translate="main.register_prefix"></span> <a ng-hide="user" ng-href="#" ng-click="register()" translate="main.account"></a> <span translate="main.register_suffix"></span>
    </p>
    <p class="text-muted text-center">
      <span translate="main.online_activities_prefix"></span> <a ng-href="https://docs.google.com/forms/d/e/1FAIpQLSeygBSV1xr2a1auCZA7sb1WhGoouv5q1Nxdt86HyMAcTxl6cw/viewform?vc=0&c=0&w=1" target="_blank" translate="main.online_activities_cta"></a> <span translate="main.online_activities_suffix"></span>
    </p>
  </div>
</div>

<div class="more">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <blockquote class="quoted-number">
          <p class="accent">215.000</p>
          <h2 translate="main.activities"></h2>
        </blockquote>
        <p class="info" translate="main.activities_info"></p>
      </div>
      <div class="col-sm-4">
        <blockquote class="quoted-number">
          <p class="accent">500</p>
          <h2 translate="main.channels"></h2>
        </blockquote>
        <p class="info" translate="main.channels_info"></p>
      </div>
      <div class="col-sm-4">
        <blockquote class="quoted-number">
          <p class="accent">28.000</p>
          <h2 translate="main.organizers"></h2>
        </blockquote>
        <p class="info" translate="main.organizers_info"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center lead mission" translate="main.mission"></p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="footer-links">
          <li><a href="mailto:vragen@uitdatabank.be" class="footer-link" translate="footer.contact"></a></li>
          <li><a href="http://www.publiq.be/nl/project/uitdatabank" class="footer-link" translate="footer.about"></a></li>
          <li><a href="http://documentatie.uitdatabank.be" class="footer-link" translate="footer.dev"></a></li>
          <li><a href="http://www.publiq.be/{{ language }}/{{ 'footer.legalPath' | translate }}" class="footer-link" translate="footer.legal"></a> | <a href="http://www.publiq.be/nl/privacy-uitdatabank" class="footer-link" translate="footer.privacy">Privacy</a></li>
        </ul>
      </div>

      <div class="col-sm-6">
        <p class="footer-by"><span translate="footer.by"></span> <a href="http://www.publiq.be" class="footer-link">publiq vzw</a></p>

        <img ng-if="language === 'nl'" src="images/vlaanderen-logo.png" class="logo-flanders-full">
        <img ng-if="language === 'fr'" src="images/flanders-logo.png" class="logo-flanders-full">
        <p class="language-switcher">
          <a ng-click="changeLanguage('nl')">Nederlands</a> <a ng-click="changeLanguage('fr')">Français</a>
        </p>
      </div>
    </div>
  </div>
</div>
