<div class="sidebar-wrapper" role="navigation">
    <udb-logo></udb-logo>

    <div id="udb-navbar-collapse" class="sidebar-loggedin">
        <span ng-show="mbc.user" ng-cloak>
            <ul class="nav navbar-nav list-unstyled">
                <li><a ui-sref="split.footer.dashboard"><i class="fa fa-home"></i> <span class="menu-text">Home</span></a></li>
                <li><a ui-sref="split.offer"><i class="fa fa-plus-circle"></i> <span class="menu-text">Invoeren</span></a></li>
                <li><a ui-sref="split.footer.search"><i class="fa fa-search"></i> <span class="menu-text">Zoeken</span></a></li>
            </ul>
        </span>

        <span ng-show="mbc.userHasManagementPermission">
            <hr />
            <h5><small>BEHEER</small></h5>
            <ul class="nav navbar-nav list-unstyled">
                <li><a ui-sref="split.manageUsers"><i class="fa fa-user"></i> <span class="menu-text">Gebruikers</span></a></li>
                <li><a ui-sref="split.manageRoles"><i class="fa fa-users"></i> <span class="menu-text">Rollen</span></a></li>
                <li><a ui-sref="split.manageLabels"><i class="fa fa-tag"></i> <span class="menu-text">Labels</span></a></li>
                <li><a ui-sref="split.manageOrganisations"><i class="fa fa-slideshare"></i> <span class="menu-text">Organisaties</span></a></li>
            </ul>
        </span>

        <div class="person-data">
            <hr />
            <ul class="nav navbar-nav list-unstyled">
                <li class="notifications">
                    <a href="#" ng-click="mbc.toggleJobLog()"><i class="fa fa-bell"></i> <span class="menu-text">Meldingen</span></a>
                    <span class="badge pull-right" ng-if="mbc.getFailedJobs().length">!</span>
                    <udb-job-logo></udb-job-logo>
                </li>
                <li>
                    <div class="media">
                        <div class="media-left">
                            <!-- TODO: Get the user image -->
                            <img class="media-object" width="50" height="50" src="https://s-media-cache-ak0.pinimg.com/736x/b8/58/ae/b858ae4d36755997794e727f0f07a53e.jpg">
                        </div>
                        <div class="media-body">
                            {{ mbc.user.nick }}<br />
                            <i class="fa fa-sign-out" aria-hidden="true"></i> <a href="#" ng-click="mbc.logout()" class="small">Afmelden</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>