<div class="sidebar-wrapper" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#udb-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <udb-job-logo></udb-job-logo>
    </div>

    <div id="udb-navbar-collapse" class="sidebar-loggedin collapse">
        <span ng-show="mbc.user" ng-cloak>
            <ul class="nav navbar-nav list-unstyled">
                <li><i class="fa fa-home"></i> <a ng-link="['Main']">Home</a></li>
                <li><i class="fa fa-plus-circle"></i> <a ng-link="['CreateOffer']">Invoeren</a></li>
                <li><i class="fa fa-search"></i> <a ng-link="['Search']">Zoeken</a></li>
            </ul>
        </span>

        <span ng-show="mbc.userHasManagementPermission">
            <hr />
            <h5><small>BEHEER</small></h5>
            <ul class="nav navbar-nav list-unstyled">
                <li><i class="fa fa-users"></i> <a ng-link="['UsersList']">Gebruikers</a></li>
                <li><i class="fa fa-tag"></i> <a ng-link="['RolesList']">Rollen</a></li>
                <li><i class="fa fa-tag"></i> <a ng-link="['LabelsList']">Labels</a></li>
                <li><i class="fa fa-slideshare"></i> <a ng-link="#">Organisaties</a></li>
            </ul>
        </span>

        <div class="person-data">
            <hr />
            <ul class="nav navbar-nav list-unstyled">
                <li class="notifications"><i class="fa fa-bell"></i> <a href="#" ng-click="mbc.toggleJobLog()">Meldingen</a><span class="badge pull-right" ng-if="mbc.getFailedJobs().length">!</span></li>
                <li>
                    <div class="media">
                        <div class="media-left">
                            <!-- TODO: Get the user image -->
                            <img class="media-object" width="50" height="50" src="https://s-media-cache-ak0.pinimg.com/736x/b8/58/ae/b858ae4d36755997794e727f0f07a53e.jpg">
                        </div>
                        <div class="media-body">
                            {{ mbc.user.nick }}<br />
                            <i class="fa fa-sign-out" aria-hidden="true"></i> <a href="#" ng-click="mbc.logout()" class="small">Afmelden</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>