<div ng-if="!vm.hideNewsLetter" class="udb-newsletter" style="width: 100%;background-color: #FFF;margin-bottom: 0px;padding: 15px;">
    <div ng-if="vm.showError" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger">
                Er ging iets fout tijdens het inschrijven. Probeer het even opnieuw.
            </div>
        </div>
    </div>
    <div ng-if="!vm.showThanks" class="row">
        <div class="col-sm-8"><strong style="margin: 0; font-size: 18px; margin-bottom: 10px; display: block; line-height: 1">Praktische invoertips in je mailbox</strong>
            <p style="margin: 0; line-height: 1.35 ">Schrijf je in op onze nieuwsbrief en ontvang maandelijks praktische tips voor het invoeren van jouw activiteiten in de UiTdatabank!</p>
            <div class="row">
                <div class="col-xs-6"><label for="mail-newsletter" style="font-weight: normal; font-size: 15px">E-mail</label></div>
            </div>
            <div class="row">
                <div class="col-xs-8"><input type="email" class="form-control" id="mail-newsletter" ng-model="vm.email"> </div>
                <div class="col-xs-4"><a type="submit" ng-click="vm.submit()" class="btn btn-primary btn-block newsletter-submit">Inschrijven</a></div>
            </div>
        </div>
        <div class="col-sm-4"><img src="https://udb-media.imgix.net/f36a584d-410d-4e98-9eae-d11508dfda05.png" class="img-responsive center-block"></div>
    </div>
    <div ng-if="vm.showThanks" class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <strong style="margin: 0; font-size: 18px; margin-bottom: 10px; display: block; line-height: 1">Bedankt!</strong>
            <p style="margin: 0; line-height: 1.35 ">Je bent ingeschreven op onze nieuwsbrief en ontvangt maandelijks praktische tips voor het invoeren van jouw activiteiten in de UiTdatabank!</p>
        </div>
        <div class="col-sm-4"><img src="https://udb-media.imgix.net/f36a584d-410d-4e98-9eae-d11508dfda05.png" class="img-responsive center-block"></div>
    </div>
</div>
