<script type="text/ng-template" id="event-tag-modal.html">
    <div class="modal-body">

        <label>Labels</label>

        <div class="row">
            <div class="col-lg-12">
                <input type="text" ng-model="labelNames" class="form-control"/>
            </div>

            <div class="col-lg-12">
                <div class="checkbox" ng-repeat="label in labelSelection">
                    <label>
                        <input type="checkbox" ng-model="label.selected" />
                        <span ng-bind="label.name"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">label</button>
        <button class="btn btn-warning" ng-click="close()">annuleren</button>
    </div>
</script>

<div class="main-search">
  <form class="form-horizontal" role="form">
    <div class="form-group" ng-class="{'has-error': queryErrors.length}">
      <label for="main-search" class="col-sm-1 control-label">
        Zoeken
      </label>

      <div class="input-group" class="col-sm-11">
        <input type="text" name="main-search" value="main-search"
        ng-model="searchQuery"
        placeholder="schrijf een zoekopdracht" class="main-search-input form-control">

        <div class="input-group-btn main-search-button">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>

      <div class="query-errors col-sm-11 col-sm-offset-1">
        <span ng-repeat="error in queryErrors" class="help-block">
          {{error}}
        </span>
      </div>

      <div class="col-sm-11 col-sm-offset-1" ng-show="realQuery">
        <span class="help-block">
          real query: <strong>{{realQuery}}</strong>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-12 search-results" ng-class="{loading: resultViewer.loading}">
    <h2>Zoekresultaten</h2>
    <p ng-hide="resultViewer.totalItems">Geen evenementen gevonden, probeer een andere zoekopdracht.</p>

    <div ng-show="resultViewer.totalItems">
      <p>{{resultViewer.totalItems}} evenementen gevonden:</p>
        <p>{{resultViewer.selectedIds.length }} geselecteerd -
            <a href="#" ng-click="tagSelection()">tag selectie</a> -
            <a href="#" ng-click="tagActiveQuery()">tag alle zoekresultaten</a> -
            <a href="#" ng-click="resultViewer.deselectAll()">deselecteer</a> -
            <a href="#" ng-click="resultViewer.selectAll()">selecteer pagina</a>
        </p>

      <div class="row event" ng-repeat="event in resultViewer.events"
              ng-class="{selected: resultViewer.isIdSelected(event['@id'])}">
          <div class="event-side-bar">
              <input type="checkbox"
                     ng-checked="resultViewer.isIdSelected(event['@id'])"
                     ng-click="resultViewer.toggleSelectId(event['@id'])"/>
          </div>
          <div udb-event="event" ng-hide="fetching">
              <div class="col-sm-12">
                  <h3>{{event.name}}</h3>
              </div>
              <div class="col-sm-4">
                  <img ng-src="{{event.image}}" alt="{{event.name}}" class="img-responsive">
              </div>
              <div class="col-sm-7">
                  <dl>
                      <dt>Wanneer</dt>
                      <dd>{{event.calendarSummary}}</dd>

                      <dt>Waar</dt>
                      <dd>{{event.location}}</dd>

                      <dt>Beschrijving</dt>
                      <dd>{{event.description}}</dd>

                      <div ng-show="event.labels">
                          <dt>Labels</dt>
                          <dd>
                              <span ng-repeat="label in event.labels" class="label label-info event-label" ng-bind="label">
                              </span>
                          </dd>
                      </div>
                  </dl>
              </div>
          </div>
      </div>

      <pagination total-items="resultViewer.totalItems" ng-model="resultViewer.currentPage" items-per-page="resultViewer.pageSize" ng-show="resultViewer.totalItems > 0"
        ng-change="resultViewer.pageChanged()" max-size="10"></pagination>
    </div>
  </div>
</div>
